{% extends 'base.html' %}
{% load static%}
{% block title %} Sistema Empleado | Inicio {% endblock title %}
{% block content %}
{% include 'includes/header.html' %}

<!--inicio de carga de imagenes -->

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/20.jpg' %}" alt="Space">
          <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
        </figure>
      </li>
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/30.jpg' %}" alt="Space">
          <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
        </figure>
      </li>
    </ul>
  </div>
 
</div>
<!--fin de carga de imagenes -->

<!--inicio bloque bin-->
<div class="grid-x aling-center">
   <h1 class ="cell large-12" style="font-size: 25px; text-align: center;">
      Bienvenido al Sistema de Registro de Empleado</h1>

    <div class="cell large-12" style="font-size: 15px; text-align: center;">
        <div class="callout success">
            <h5>Registra y controla empleados</h5>
            <p>It has an easy to override visual style, and is appropriately subdued. It has an easy to override visual style, and is appropriately subdued. It has an easy to override visual style, and is appropriately subdued.</p>
            <a href="{% url 'personas_app:all-personas' %}">Ver Empleados</a>
        </div>     
    </div>
</div>    
<!--fin bloque bienvenida -->


{%endblock content%}
