{% extends 'base.html' %}
{% load static%}
{% block title %} Sistema Empleado | Empleados por Departamento {% endblock title %}
{% block content %}
{% include 'includes/header.html' %}


<div class="grid-container">
    <div class="grid-x">
      <h1 class="cell">Empleados del Departamento: {{ object_list.departamento }}</h1>
    
  
  
      <div class="cell grid-x">
        <table>
          <thead>
            <tr>
              <th width="200">Nombre</th>
              <th width="200">Correo</th>
              <th width="150">Cargo</th>
            
            </tr>
          </thead>
          <tbody>
            {% for e in object_list %}
            <tr>
              <td>{{ e.full_name }} </td>
              <td>{{ e.correo}} </td>
              <td>{{ e.job}} </td>
              
            </tr>
            {% empty %}
            <li>No empleados yet.</li>
            {% endfor %}
          </tbody>
        </table>
  
  
  
      </div>
      <div class="cell">
        {% if is_paginated %}
  
        <nav aria-label="Pagination">
          <ul class="pagination text-center">
            {% if page_obj.has_previous %}
            <li class="pagination-previous"><a href="?page={{page_obj.previous_page_number}}"
                aria-label="Next page">Previous</a></li>
            {% endif %}
  
            {% for pagina in paginator.page_range %}
            {% if page_obj.number == pagina %}
  
            <li class="current"><span class="show-for-sr">You're on page</span> {{ pagina }}</li>
  
            {% else %}
  
            <li><a href="?page={{pagina}}" aria-label="Page 2">{{ pagina }}</a></li>
            {% endif %}
            {% endfor %}
  
            {% if page_obj.has_next %}
            <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}" aria-label="Next page">Next</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
  
      </div>
  
    </div>
  </div>
  {% endblock content %}

